@model WebBackTidsregistrering.WebUI.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = "Registrer";
    Layout = "_Layout";
}

<fieldset class="account">

    <div class="offset-md-3 col-md-6">
        <h1>Registrer ny bruger</h1>
        <br/>
    </div>
    <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal">
        <div class="offset-md-3 col-md-6">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <div >
                    <input type="email" asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Password"></label>
                <div >
                    <input type="password" asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <div >
                    <input type="password" asp-for="ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-primary">Registrer</button>
                </div>
            </div>
        </div>
    </form>
</fieldset>